img {
  display: block;

  margin-bottom: 290px;

  max-width: 95%;

  margin-right: auto;

  margin-left: auto;

  width: auto !important;

  height: auto;
}


body{
    background-color: rgb(0, 0, 0);
}


  @media screen and (max-width: 1000px) and (min-width: 300px) {

    .button-link {
        display: inline-block; /* 이미지 크기에 맞게 버튼 크기 지정 */
        width: 20%; /* 버튼 가로 크기 지정 */
        height: 20%; /* 버튼 세로 크기 지정 */
        margin-top: 40%;
        margin-left: 40%;
        margin-bottom: 10%;
        text-align: center; /* 버튼 안에 있는 이미지 가운데 정렬 */
      }
      
      .button-link img {
        width: 100px; /* 이미지 크기를 버튼 크기에 맞게 조절 */
        height: auto; /* 가로 비율에 맞춰 세로 비율 조절 */

      }
      
  }


  @media screen and (max-width:1300px) and (min-width: 1001px) {

    .button-link {
        display: inline-block; /* 이미지 크기에 맞게 버튼 크기 지정 */
        width: 10%; /* 버튼 가로 크기 지정 */
        height: 10%; /* 버튼 세로 크기 지정 */
        margin-top: 10%;
        margin-left: 50%;
        margin-bottom: 10%;
        text-align: center; /* 버튼 안에 있는 이미지 가운데 정렬 */
      }
      
      .button-link img {
        width: 50px; /* 이미지 크기를 버튼 크기에 맞게 조절 */
        height: auto; /* 가로 비율에 맞춰 세로 비율 조절 */

      }
      
  }


  @media screen and (max-width:3000px) and (min-width: 1301px) {

    .button-link {
        display: inline-block; /* 이미지 크기에 맞게 버튼 크기 지정 */
        width: 10%; /* 버튼 가로 크기 지정 */
        height: 10%; /* 버튼 세로 크기 지정 */
        margin-top: 10%;
        margin-left: 45%;
        margin-bottom: 10%;
        text-align: center; /* 버튼 안에 있는 이미지 가운데 정렬 */
      }
      
      .button-link img {
        width: 150px; /* 이미지 크기를 버튼 크기에 맞게 조절 */
        height: auto; /* 가로 비율에 맞춰 세로 비율 조절 */

      }
      
  }
 
  